body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100%;
}
  

/*Header*/
.FinaleName img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  width: 1200px;
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  font-size: 20px;
}

.Group img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  width: 800px;
}
.NameLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  width: 300px;
}


  h1 {
    color: #000000;
    text-align: center;
    margin-top: none;
    line-height: 1.4;
    margin-bottom: none;
    font-size: calc(6vw + 6vh);
  }

  header{
    margin-bottom:none;
  }

  h3{
    margin-top: 7%;
    font-size: 40px;
    text-align:center;
    margin-bottom: 5px;
    line-height: 1;
  }
  
  h2 {
    margin-top: 1%;
    text-align:center;
    margin-bottom:80px;
    line-height: 1;
    font-size: calc(6vw + 6vh);
  }




.List{
  width:100%;
  position:center;
  text-align:center;
}

  p {
    font-family: arial;
    font-size: 20px;
  }

  ul {
    list-style: none;
  }

  li {
    list-style:none;
  }


.AllAbout {
  text-align:right;
    float:right;
    padding:30px;
    margin-left:120px;
    width:600px;
    text-indent:40px;
    line-height: 2;
}


.Conquer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.List {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

/* Navigation links */
.List a {
  float: left;
  padding: 12px;
  padding-top:20px;
  padding-bottom:20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  width: 18.72%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.List a:hover {
  background-color: #ff1875;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .List a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}



  .Logo_link img {
  position: fixed;
  z-index: 1;
  width: 110px;
  left: 20px;
  top: 10px;
  }

  /*
  .BlackInsta img{
  width: 25px;
  height: 25px;
  }
  .WhiteInsta img{
    width: 35px;
  }
  .WhiteX img {
    width:20px;
  }

  .BlackX img {
    width:25px;
    width:25px;
  }

  .WhiteYT img{
    width:30px;
  }

  .BlackYT img{
    width:25px;
    width:25px;
  }

  .BlackFB img {
    width:25px;
    width:25px;
  }
  .WhiteFB img {
    width:30px;
  }

  .WhiteSpotify img {
    width:30px;
  }
  .BlackSpotify img{
    width: 30px;
  }

  .BlackTunes img {
    width: 30px;
  }
  .WhiteTunes img {
    width: 30px;
  }

  .BlackShop img{
    width: 30px;
  }

  .WhiteShop img{
    width: 30px;
  }

*/
  .copyright2{
    color:#ffffff;
    font-size:15px;
    float: right;
    top:90px;
    position:bottom;
  }
  
  .copyright2 a{
    color:#ffffff;
    font-size:15px;
    position:bottom;
  }

  .copyright2 a:link, a:visited, a:hover, a:active { text-decoration: none; }


.sns_menu img {
  width: 25px;
  margin: 5px;
}


/*Contact Page*/
.Data {
  text-align: center;
  font-size: 20px;
}



/*Gallery*/
.rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columns {
  flex: 25%;
  max-width: 24.57%;
  padding: 0 4px;
}

.columns img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columns {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columns {
    flex: 100%;
    max-width: 100%;
  }
}
















/*BPA Disclaimer*/
.WDT {
  font-size: 120px;
}
.Information {
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
}




/*About Page*/
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 5 4px;
}
.column1 {
  flex: 25%
}
.column2{
  flex: 50%;
}


body, html {
  height: 100%;
}

.Bold{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Pictures/Header.PNG");
  color: #00000000;
  text-align: center;
  font-size: 200px;
  line-height: 1.4;
  -webkit-text-stroke: 7px #ff1875;
}

.Lucy img{
  width:350px;

}
.Lily img{
  width:350px;

}
.Haley img{
  width:350px;
}
.Salemn img{
  width:360px;
}
.Kaitlyn img{
  width:360px;
}


/*Lucy*/
.LucyGuitar img{
  float: right;
  margin: 0px 0px 15px 20px;
  width: 750px;
}
.LucyQuote {
  font-size:30px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
}


/*Salemn*/
.SalemnVocal img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 750px;
  margin-bottom: 60px;
}
.SalemnQuote {
  font-size:30px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
}

/*Lily*/
.LilyKeyboard img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 750px;
}
.LilyQuote {
  font-size:30px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
}

/*Kaitlyn*/
.KaitlynBass img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 750px;
}
.KaitlynQuote {
  font-size:30px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
}

/*Haley*/
.HaleyDrum img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 750px;
}
.HaleyQuote {
  font-size:30px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
}







h4{
  font-size:20px;
  margin-top:none;
  margin-bottom:none;
}

h5{
  font-size:45px;
  text-align:right;
  margin-bottom:none;
}




.Tourtable {
  padding:50px;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  text-align:Center;
  border-collapse: collapse;
  font-size:20px;
  border-spacing:100px;
}

td{
  height:80px;
}

tr:nth-child(even) {background-color: #f5e7e0;}

tr:hover {background-color: #ff1875;}


.table1 {
  text-align:center;
}


/*Navigation Bar*/
.nav_sns_menu{
  display: none;
  position: absolute;
  bottom: 45px;
  margin: 0px;
  width: 40px;
  bottom: 0;

  transform: translateY(-12.6%);
 }

 .nav_sns_menu img {
  width: 25px;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

    .overlay {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      background-color: #000000;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav_list {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 150px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
      color: #ff1875;
    }

    .overlay .closebtn {
      position: absolute;
      top: 5px;
      right: 35px;
      font-size: 55px;
    }

    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
    }

    .copyright1{
      color:#ffffff;
      display: none;
      width: 100%;
      font-size:15px;
      text-align: right;
      position: fixed;
      right: 20px;
      bottom: 0;
    }
    
    .copyright1 a{
      font-size:15px;
      position:bottom;
      white-space: nowrap;
      display: inline;
      margin: 0px;
    }

    .copyright1 a:visited, a:active { text-decoration: none; }
  
/* discography individual */

.open_ET {
  position: relative;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.open_ET_img {
  width: 500px;
  height: 500px;
}

.open_ET_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: #ff1875;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 80px;
  text-align:center;
  text-shadow: 3px 5px #6f3341;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.open_ET:hover .open_ET_description {
  visibility: visible;
  opacity: 1;
}

.myExitRight{
  display: none;
}

.myExitRight img{
  height: 300px;
  width: 300px;
}



.open_Conquer {
  position: relative;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.open_Conquer_img {
  width: 500px;
  height: 500px;
}

.open_Conquer_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: #ff1875;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 80px;
  text-align:center;
  text-shadow: 3px 5px #6f3341;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.open_Conquer:hover .open_Conquer_description {
  visibility: visible;
  opacity: 1;
}

.myConquer{
  display: none;
}

.myConquer img{
  height: 300px;
  width: 300px;
}



.open_B {
  position: relative;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.open_B_img {
  width: 500px;
  height: 500px;
}

.open_B_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: #ff1875;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 80px;
  text-align:center;
  text-shadow: 3px 5px #6f3341;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.open_B:hover .open_B_description {
  visibility: visible;
  opacity: 1;
}

.myButterflies{
  display: none;
}

.myButterflies img{
  height: 300px;
  width: 300px;
}

/* pop-up */
.overlay_trans_box {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.712); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  font-size: 20px;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  font-size: 50px;
  z-index: 2;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


/*The Overlay of Albums*/
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.ExitRight1 img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 450px;
  height:450px;
}

.exit {
  font-size:60px;
  text-align:left;
  margin-bottom:none;
  margin-top: 20px;
  margin-left: 40px;
  padding-bottom: none;
}

.TwentyFour {
  font-size: 40px;
  margin-bottom:none;
  margin-top:none;
  text-align: left;
  margin-left: 40px;
  padding-top: none;
}
.Songs{
  font-size:30px;
  margin-bottom:none;
  margin-top:none;
  text-align: left;
  margin-left: 40px;
  padding-top: none;
}

.Buy{
  font-size:20px;
  margin-bottom:none;
  margin-top:none;
  text-align: left;
  margin-left: 40px;
  padding-top: none;
}



/*Footer*/

.arrow_up{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  scale: 12%;
}

.footer {
  margin-top: none;
  position: relative;
  width: 100%;
  height: 350px;
  padding-top:10px;
  background-color: #6f3341;
  z-index: 2;
}

.footer-placeholder {
  z-index: 2;
}

.footer_sns {
  list-style: none;
}

.footer_sns li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
  vertical-align: baseline;
}

.footer_sns img {
  width: 25px;
}

.sns_menu {
  z-index: 1;
  position: fixed;
  width: 40px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(-20%);
}


/*.overlay_solid_box {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}*/

.nav_open{
  font-size:40px;
  cursor:pointer; 
  float:right; 
  position:fixed; 
  top:10px; 
  right:35px;
}



.cards img{
  width: calc(3vw + 3vh);
}

.container_shop {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
  margin: 0 auto;
  padding: 10px;
  max-width: 1100px;
  min-height: 100vh;
}

.shop_cart {
  border: 1px solid grey;
  padding: 10px;
  position: sticky;
  top: 100px;
  height: 500px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  text-align: center;
}



@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container_checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}